table {
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 0.5em;
}

tr:nth-child(even) {
  background-color: aquamarine;
}

.btn-delete {
  background-color: crimson;
  border: none;
  padding: 0.75em 1em;
  color: white;
  border-radius: 20px;
}

.alert-container {
  position: absolute;
  bottom: 40px;
  right: 50%;
  transform: translate(50%, 0);
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alert {
  padding: 1em;
  border-radius: 20px;
  text-align: center;
}

.alert_success {
  background-color: aqua;
}

.alert_danger {
  background-color: crimson;
  color: white;
}
